<!-- Footer -->
<footer class=" text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-sm-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">QUICK LINKS</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a routerLink="hospitals-clinics" class="text-white">Hospitals</a>
          </li>
          <li>
            <a routerLink="doctors" class="text-white">Doctors</a>
          </li>
          <li>
            <a routerLink="insurance" class="text-white">Insurance</a>
          </li>
          <li>
            <a routerLink="pharmacies" class="text-white">Pharmacies</a>
          </li>
          <li>
            <a href="#!" class="text-white">About Us</a>
          </li>
          <li>
            <a href="#!" class="text-white">Contact Us</a>
          </li>
        </ul>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-sm-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">The General Medical Council</h5>

        <p>We help to protect patients and improve medical education and practice in the UK by setting standards for
          students and doctors. We support them in achieving and exceeding those standards, and take action when they
          are not met.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-sm-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Other Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Hospitals</a>
          </li>
          <li>
            <a href="#!" class="text-white">Clinics</a>
          </li>
          <li>
            <a href="#!" class="text-white">About Us</a>
          </li>
          <li>
            <a href="#!" class="text-white">Contact Us</a>
          </li>
        </ul>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #001c38">
    © 2021 Copyright:
    <a class="text-white">Eva Magdy</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->